<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
	<h1 style="text-align:center;">Welcome to the Videogame Database</h1>
	<p style="text-align:center;">Here you can add your favorite games to the database! </p> 

<div>
<h2>Grouping Form Data with Fieldset</h2>

<p>Input all the required information below to add your game to the database!</p>

<form method="POST" action="/addgame">
  <fieldset>
    <legend>Game Details:</legend>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
</div>

<p><a href="another">Go to the other page</a></p>
<p><a href="query">Click here to find your next favorite game</a></p>
<p><a href="addgame">Click here to add a game</a></p>
<p><a href="addcompany">Click here to add a gaming company</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
