{% extends "query.html" %}

{% block content %}

<body>
    <div class="container">
        <div class="row padding">
            <h3>Search results:</h3>
        </div>
        <div class="break bigpadding"></div>
        <h5><i>Game results:</i></h5>
        <div class="break padding"></div>
        {% if games == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in games %}
        <a class="noul" href="/game/{{n[0]}}">
            <div class="qbuttonwide">
                {% if n[3] == null or n[3] == "" %}
                    <i>{{n[1]}}</i> for {{n[2]}}
                {% else %}
                    <i>{{n[1]}}</i> for {{n[2]}}: {{n[3]}}
                {% endif %}
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Genre results:</i></h5>
        <div class="break padding"></div>
        {% if genres == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in genres %}
        <a class="noul" href="/genre/{{n[0]}}">
            <div class="qbuttonwide">
                 <i>{{n[0]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Company results:</i></h5>
        <div class="break padding"></div>
        {% if companies == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in companies %}
        <a class="noul" href="/company/{{n[0]}}">
            <div class="qbuttonwide">
                <i>{{n[1]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Platform results:</i></h5>
        <div class="break padding"></div>
        {% if platforms == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in platforms %}
        <a class="noul" href="/platform/{{n[0]}}">
            <div class="qbuttonwide">
                <i>{{n[0]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Franchise results:</i></h5>
        <div class="break padding"></div>
        {% if franchises == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in franchises %}
        <a class="noul" href="/franchise/{{n[0]}}">
            <div class="qbuttonwide">
                <i>{{n[0]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Development leader results:</i></h5>
        <div class="break padding"></div>
        {% if dev == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in dev %}
        <a class="noul" href="/dev/{{n[0]}}">
            <div class="qbuttonwide">
                <i>{{n[0]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>

        <h5><i>Spinoff results:</i></h5>
        <div class="break padding"></div>
        {% if spinoffs == [] %}
        <p><i>None</i></p>
        {% endif %}
        {% for n in spinoffs %}
        <a class="noul" href="/spinoff/{{n[0]}}">
            <div class="qbuttonwide">
                <i>{{n[0]}}</i>
            </div>
        </a>
        <div class="break padding"></div>
        {% endfor %}
        <div class="break bigpadding"></div>
    </div>
</body>

{% endblock %}
