{% extends "nav.html" %}

{% block content %}

<div class="container">
  <p style="text-align:center;">Check out some of our top rated games:</p> 
  <div class="break"></div>
  {% for n in data %}
    <div class="row padding">
      <a href="/game/{{n[3]}}">
        <div class="qbutton">
          {{n[2]}} - <i>{{n[0]}}</i>
          <br>Player rating of {{n[1]}}/10
        </div>
      </a>
    </div>
  <div class="break"></div>
  {% endfor %}
  or
  <div class="padding break"></div>
  <a href="query" class="whitetext">
    <div class="buttonblue">
      <i>Find your new favorite game!</i>
    </div>
  </a>
</div>

{% endblock %}
