{% extends "nav.html" %}

{% block content %}

<div class="container">
  <p style="text-align:center;">Check out some of our top rated games:</p> 
  <div class="break"></div>
  {% for n in data %}
    <div class="row padding">
      <a href="/game/{{n[3]}}">
        <div class="qbutton">
          {{n[2]}} - <i>{{n[0]}}</i>
          <br>Player rating of {{n[1]}}/10
        </div>
      </a>
    </div>
  <div class="break"></div>
  {% endfor %}
  <div class="padding break"></div>
  <p><a href="query">Click here to find your next favorite game</a></p>
  <div class="break"></div>
  <p><a href="addgame">Click here to add a game</a></p>
  <div class="break"></div>
  <p><a href="addcompany">Click here to add a gaming company</a></p>
</div>

{% endblock %}
