{% extends "nav.html" %}

{% block content %}

<body>
    <div class="cont2">
        {% for n in data %}

        <!-- Title -->
	<h2>Platform: <i>{{n[0]}}</i></h2>
        <div class="padding"></div>

        <h3>Product family: <a href="/family/{{n[4]}}"><i>{{n[4]}}</i></a></h3>
        <div class="bigpadding"></div>

	<h4>Release price: <i>${{n[2]}}</i></h4>
        <div class="padding"></div>

	<h4>Platform type: <i>{{n[3]}}</i></h4>
        <div class="bigpadding"></div>

        <h4>Description</h4>
        <p>{{n[1]}}</p>

	{% endfor %}

        <h4>Number of games: {{count[0]}}</h4>

        <div class="break"></div>
        {% for n in games %}
        <div class="row padding">
            <a class="noul" href="/game/{{n[0]}}">
              <div class="qbutton">
                <i>{{n[1]}}</i> for {{n[2]}}
              </div>
            </a>
        </div>
        <div class="break"></div>
        {% endfor %}
    </div>
</body>

{% endblock %}
