{% extends "nav.html" %}

{% block content %}

<body>
    <div class="cont2">
        {% for n in data %}

        <!-- Name -->
        <h2><i>Product family: {{n[0]}}</i></h2>
        <div class="padding"></div>

        <h4>Platforms</h4>
        <div class="break"></div>
        {% for n in platforms %}
        <div class="row padding">
            <a class="noul" href="/platform/{{n[0]}}">
              <div class="qbutton">
                <i>{{n[0]}}</i>
              </div>
            </a>
        </div>
        {% endfor %}

        {% endfor %}
    </div>
</body>

{% endblock %}
