{% extends "nav.html" %}

{% block content %}

	<p style="text-align:center;">What would you like to search by?</p> 
    <div class="container">
        <div class="column padding">
            <a href="/query/budget">
                <button class="qbutton">Budget</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/platform">
                <button class="qbutton">Platform</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/genre">
                <button class="qbutton">Genre</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/year">
                <button class="qbutton">Release year</button>
            </a>
        </div>
        <div class="column padding">
            <a href="/query/game">
                <button class="qbutton">Game name</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/developer">
                <button class="qbutton">Developer</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/publisher">
                <button class="qbutton">Publisher</button>
            </a>
            <div class="break padding"></div>
            <a href="/query/franchise">
                <button class="qbutton">Franchise</button>
            </a>
        </div>
        <div class="break"></div>
        {% block query %}
        {% endblock %}
    </div>

{% endblock %}
