{% extends "nav.html" %}

{% block content %}

	<p style="text-align:center;">What would you like to search by?</p> 
    <div class="container">
        <div class="row padding">
            <a href="/query/budget">
                <button class="qbutton">Budget</button>
            </a>
        </div>
        <div class="break"></div>
        <div class="row padding">
            <a href="/query/platform">
                <button class="qbutton">Platform</button>
            </a>
        </div>
        <div class="break"></div>
        <div class="row padding">
            <a href="/query/genre">
                <button class="qbutton">Genre</button>
            </a>
        </div>
        <div class="break"></div>
        <div class="row padding">
            <a href="/query/year">
                <button class="qbutton">Release year</button>
            </a>
        </div>
        <div class="break"></div>
        {% block query %}
        {% endblock %}
    </div>

{% endblock %}
